.home{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    user-select: none;
}

.home button{
    position: absolute;
    top: 10px;
    left : 10px;
    padding: 6px 10px;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.3s ease;
    border-radius: 5px;
}


.home_container{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.home_container-about{
    text-align: center;
}

.home_container-img{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: relative;
}

.home_container-img .loader{
    position: absolute;
    border-radius: 50%;
    transition: all 0.4s linear;
}

.loader_on_1 .home_container-img .loader1{
    width: 105%;
    height: 105%;
    animation: loaderrotate 5s linear infinite;
}


.loader_on_2 .home_container-img .loader2{
    position: absolute;
    border-radius: 50%;
    width: 110%;
    height: 110%;
    animation: loaderrotate 5s linear infinite reverse;
}

.loader_on_3 .home_container-img .loader3{
    position: absolute;
    border-radius: 50%;
    width: 115%;
    height: 115%;
    animation: loaderrotate 5s linear infinite;
}


.home_container-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.home_container p{
    font-size: 15px;
    margin-top: 28px;
    max-width: 500px;
    text-align: center;
    padding: 0px 10px;
}

/* animation */

@keyframes loaderrotate {
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}