.light{
    background-color: #ffffff;
    color: #101010;
}

.light .special{
    color: #ff5100;
}

/* start indicator */

.light .indicator ul{
    background-color: rgba(255, 81, 0, 0.329);
}

.light .indicator ul .active{
    background-color: #ff5100;
    color: #ffffff;
}

.light .indicator ul li:hover{
    background-color: #ff5100;
    color: #ffffff;
}

/* end indicator */

/*************************** end *************************/

/** start home **/
.light .home_container-about p{
    color: #b5b6b8;
}

.light .home_container-img .loader1{
    border-top : 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-right: 2px solid #ff5100;;
    border-left: 2px solid #ff5100;
}

.light .home_container-img .loader2{
    border-top : 2px solid #00ff73;
    border-bottom: 2px solid #00ff73;
    border-right: 2px solid transparent;;
    border-left: 2px solid transparent;
}

.light .home_container-img .loader3{
    border-top : 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-right: 2px solid #ff5100;;
    border-left: 2px solid #ff5100;
}


.light .home_container p{
    color: rgb(49, 49, 49);
}

.light .home button{
    border: 2px solid #ff5100;
    background-color: #ff5100;
    color: #ffffff;
}

.light .home button:hover{
    background-color: #ffffff;
    color: #ff5100;
}


/** end home **/


/*************************** end *************************/


/** start aboutme **/
.light .aboutme_container-text button{
    color: #ffffff;
    background-color: #ff5100;
    border: 1px solid #ff5100;
}

.light .aboutme_container-text button:hover{
    color: #ff5100;
    background-color: #ffffff;
}

.light .aboutme_container-text .line{
    background-color: #ff5100;
}

.light .aboutme_container-text p {
    color: #6b6b6b;
}

.light .aboutme_container-img{
    background-color: #ff5100;
}

.light .aboutme_container-img .aboutdot{
    background-color: #ff5100;
}
/** end aboutme **/


/*************************** end *************************/


/** start skill **/
.light .skillicon{
    color : #ff5100;
}

.light .skillline{
   background-color: #ff5100;
}
/** end skill **

/*************************** end *************************/

/* start service */
.light .serviceicon{
    color: #ff5100;
}

.light .serviceicon,.light .service h3{
    color: #ff5100;
}

.light .service button{
    border: 1px solid #ff5100;
    color: #ffffff;
    background-color: #ff5100;
}

.light .service button:hover{
    color: #ff5100;
    background-color: #ffffff;
}
/* end service */

/****************** end ***********************/

/* start contactme */
.light .contactme_container .socialbox li a{
    color: #ff5100;
}

.light .socialline{
    background-color: #ff5100;
}

.light .contactme textarea{
    border: 2px solid #434444;
}

.light .contactme textarea:focus{
    border: 2px solid #ff5100;
}

.light .contactme button{
    border: 2px solid #ff5100;
    background-color: #ff5100;
    color: #101010;
}

.light .contactme button:hover{
    background-color: #ffffff;
    color: #ff5100;
}